<h1><%= @card.deck.title %></h1>

<h3><%= @card.question %></h3>

<h2>Enter your guess:</h2>
<form action='/rounds/<%= @round.id %>/cards' method='POST'>
  <div class="form">

  <input type='text' name='response' placeholder='your answer'>
  <input class="form-button" type='submit' value='submit your guess'>
  </div>
</form>